<%= form_for :article, html: { class: 'new_article' } do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </p>

  <p>
    <%= f.submit 'Publish', class: "btn btn-default create_article" %>
  </p>

<% end %>