
<div class="blog-header">
  <h1 class="blog-title">Bobby Right Back</h1>
  <p class="lead blog-description">The Blog.</p>
  <%= button_to 'New Article', new_article_path, class: "new_article_button btn btn-default" %>
</div>

<div class="articles_form" style="display: none;">
  <%= render 'form' %>
</div>

<div class="row">
  <%= content_tag_for(:div, @articles, :class => "col-sm-8 blog-main") do |article| %>
    <div class="blog-post">
      <h2 class="blog-post-title">
        <%= article.title %>
      </h2>
      <p>
        <%= article.content %>
      </p>

      <%= link_to 'View', article_path(article) %>
      <%= link_to 'Edit', edit_article_path(article) %>
      <%= link_to 'Delete', article_path(article),
            method: :delete,
            data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>

<script type="text/x=handlebars-template" id="blog_template">
  <div class="row">

    <div class="article col-sm-8 blog-main" id="article_{{id}}">
        <div class="blog-post">
          <h2 class="blog-post-title">
            {{title}}
          </h2>
          <p>
            {{content}}
          </p>

          <a href="/articles/{{id}}">View</a>
          <a href="/articles/{{id}}/edit">Edit</a>
          <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="/articles/{{id}}">Delete</a>
        </div>
    </div>
  </div>
</script>
